---
import { t } from "i18next";
import Section from "../Section.astro";
---

<Section title={t("global.letter")}>
  <a
    href="/carta/carta-de-recomendacion.pdf"
    title={`${(t("global.sentences_letter", { returnObjects: true }) as string[])[0]} ${t("basics.name")}`}
    target="_blank"
    rel="noopener noreferrer"
  >
    <img
      src="/carta/carta-de-recomendacion.webp"
      alt={`${(t("global.sentences_letter", { returnObjects: true }) as string[])[1]}} ${t("basics.name")}`}
    />
  </a>
</Section>

<style>
  a {
    width: 100%;
    display: flex;
  }

  img {
    width: 100%;
  }
</style>
